<nav class="navbar navbar-default" style="background-color:oldlace;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/home" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home" (click)="featureSelected('home')" >Home</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes" (click)="featureSelected('recipes')">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list" (click)="featureSelected('shoppingList')">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.isAuthenticated() && !authService.isAdmin()"><a routerLink="/user" (click)="featureSelected('user')">My Recipes</a></li>
        <li *ngIf="authService.isAuthenticated() && authService.isAdmin()"><a routerLink="/statisctics" (click)="featureSelected('statistics')">Statistics</a></li>
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup" (click)="featureSelected('register')">Register</a></li>
          <li><a routerLink="/signin" (click)="featureSelected('login')">Login</a></li>
        </ng-template>

        <li><a
          style="cursor: pointer;"
          (click)="onLogout()"
          *ngIf="guard.canActivate()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
