body{
    background-image: url('./assets/imgs/bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
.div-center {
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
width: 75%;
}